@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300&display=swap');
*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
overflow-x: hidden;
font-family: "Montserrat",serif;
}
html{
    scroll-behavior: smooth;
    padding: 0px 0px 15px 0px;
}
header{
    padding: 10px 0px 10px 0px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #1d2027;
}
header nav ul{
    list-style: none;
    text-align: center;
}
header nav ul li{
    display: inline;

    }
header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #E4F2F5;
    padding: 2px 20px;
    display: inline-block;
    border: 10px solid #1d2027;
    transition: 1s;
    border-radius: 8px;

}
header nav ul li a:hover{
    color: #E4F2F5;
    transition: 1s;
    border: 1px solid #E4F2F5;border-radius: 8px;
}

body{
    background-color: #2D323C;

}
section{
    width:100%;
    height: 500px;
    color: #E4F2F5;

}
section, footer{
    padding-top: 60px;
}
section:nth-child(even){
    background-color: #2D323C;
}
.borda0{
    border: none;
}
.borda1{
    border: none;
    font-size: 40px;
}
.borda2{
    border: none;
}
.flexivel{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
article{
    width: 100%;
    text-align: center;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.conteinercursos{
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.footer{
    width:100%;
    height: 100px;
    color: #E4F2F5;
    font-family: "Montserrat"    sans-serif; 
    text-align: center;
}
.mini{
    width: 49%;
    padding: 10px;
    cursor: pointer;
}
.parallax{
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.p1{
    background-image: url(./img/p1.webp);
}
.p2{
    background-image: url(./img/img/p2.webp);
}
.app{
    width: 100px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}
.app:hover{
    width: 120px;
    height: 120px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}
.imgy{
    width: 200px;
    height: 120px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}
.imgy:hover{
    width: 220px;
    height: 130px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}
.ultima{
    text-align: center;
    font-size:20px;
    padding: 0px;
}
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    height: 10px; /* Altura da barra de rolagem horizontal */
}

/* Estilizando o "trilho" da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #000000; /* Cor do fundo da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas do trilho */
}

/* Estilizando o "polegar" da barra de rolagem (parte que você arrasta) */
::-webkit-scrollbar-thumb {
    background-color: #8a8888; /* Cor do polegar */
    border-radius: 10px; /* Bordas arredondadas */
    border: 2px solid #888888; /* Adiciona uma borda ao polegar */
}

/* Quando o polegar é "hover" (passado o mouse sobre ele) */
::-webkit-scrollbar-thumb:hover {
    background-color: #bab8b8; /* Cor do polegar quando o mouse está sobre ele */
}

/* Estilizando a barra de rolagem horizontal (se houver) */
::-webkit-scrollbar-horizontal {
    height: 8px; /* Altura da barra de rolagem horizontal */
}

/* Estilizando a barra de rolagem vertical (se houver) */
::-webkit-scrollbar-vertical {
    width: 8px; /* Largura da barra de rolagem vertical */
}
.pstyle{
    font-size: 10px;
/*MODAL*/
}
.janelamodal{
position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
overflow: hidden;
padding-top: 150px;
z-index: 99999;
background-color: rgba(0,0,0,0.6);
}
.fecharmodal{
position: absolute;
top: 15px;
right: 15px;
color: #ffffff;
font-weight: bold;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
}
.imgmodal{
margin: auto;
display: block;
width: 500px;
max-width: 100%;
}
.txtmodal{
    margin: auto;
    padding: 20px;
    display: block;
    width: 80%;
    text-align: center;
    color: #f9f9f9;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.mostrajanelamodal{
    display: block;
}
.ocultajanelamodal{
    display: none;
}
.section{
    width: 100%;
    height: 650px;
}
.icone{
    padding-bottom: 100px;
}
.ico{
    text-align: right;
    float: right;
}
#contato article {
    text-align: center;
  }
  #contato {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 200px; /* ajuste se quiser mais ou menos altura */
}